OCI_PROFILE=gf78
OCI_MOUNT_DIR=/opt/oci-free-tier-worker/.oci
SSH_PUBLIC_KEY_FILE=/opt/oci-free-tier-worker/oci_free_tier.pub
VM_PROFILE_SOURCE_FILE=/opt/oci-free-tier-worker/terraform.tfvars.example
COMPARTMENT_NAME=gf78-free-tier-dedicated
RETRY_SECONDS=300
MAX_ATTEMPTS=0

# Notification backends: none|unraid|webhook
NOTIFY_BACKEND=none
NOTIFY_WEBHOOK_URL=

# On Unraid set this to: /usr/local/emhttp/webGui/scripts/notify
UNRAID_NOTIFY_BIN=/dev/null
